*{
    margin: 0;
    padding: 0;
    font-family: arial;
}body{
    height: 100px;
    background-repeat: no-repeat;
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 90%);
}
.logo-canal img{
    position: absolute;
    border-radius: 5px;
    width: 55px;
    height: auto;
    top:15px;
}
/*---------menu---------*/
.menu-index{
    background-color:black;
    width: 100%;
}.ul-menu{
    text-align: center;
    padding: 25px;
}.li-menu{
    display: inline-block;
}
a{
    color: aliceblue;
    margin: 2px 15px 2px 15px;
    padding: 25px;
    text-decoration: none;
}a:hover{
    color:#33ccff;
    text-decoration: underline;
}
/*---------menu---------*/
.capa{
    display: flex;
}
.nome{
    position:absolute;
    top:55%;
    left: 20%;
}span{
    color: red;
}
/*---------------formulario--------------------------*/
.container {
    max-width: 600px;
    margin: 55px auto;
    padding: 20px;
    background-color: #f8f2f2c9;
    border-radius: 10px;
    box-shadow: 20px 20px 25px 0px rgb(8, 75, 43);
}
h1 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}
.form-group {
    margin-bottom: 20px;
}
label {
    font-weight: bold;
}
input, textarea {
    padding: 10px;
    border-radius: 10px 3px 10px 3px;
    border: 1px solid #837a7ab2;
    outline: none;
}input:focus {
    background-color: #ebf8ebb9;  
}
textarea:focus{
    background-color: #ebf8ebb9;  
}
button {
    padding: 10px 20px;
    background-color: #219625d8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}       
button:hover {
    background-color: #227e22;
}button:focus {
    background-color: #227e22;  
}
/*---------------formulario--------------------------*/
/*---------menu para celular-------------*/
@media screen and (max-width: 720px){    
    .menu-index{
        background-color:black;
        width: 100%;
    }.ul-menu{
        text-align: center;
        padding: 10px;
    }.li-menu{
        display: flex;
        justify-content: center;
    }a{
        color: aliceblue;
        text-align: center;
        margin: 1px 0px 1px 5px;
        padding: 5px;
    }
    .logo-canal img{
        margin: 30px 0px 0px 10px; 
    }
}
/*---------menu para celular-------------*/