#conteiner {
  display: flex;
  justify-content: center;
}
#conteiner #input-text {
  margin-top: 50px;
  border-radius: 3px;
  border: 1px solid red;
  width: 300px;
}
#conteiner #bnt{
  color: rgb(0, 0, 0);
  background-color: rgb(187, 197, 197);
  border-radius: 5px;
  position: absolute;
  height: 50px;
  width: 100px;
  top: 200px;
}
#conteiner #bnt:hover{
  color: rgb(248, 245, 245);
  background-color: rgb(67, 70, 70);

}
#conteiner #output-text {
  position: absolute;
  top: 275px;
}